extends layout 

block content 
  h1=title
  if book_instances.length
    for book in book_instances
      p=book.imprint
      p=book.status
      p=book.due_back

  else 
    p Do you really want to delete this book?
    form(method='POST', action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book_id )

      button.btn.btn-primary(type='submit') Delete